.add-element-wrapper{
    display: flex;
    justify-content: center;
}

.add-element-form{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(3, 150, 96, 1), rgba(2, 100, 64, 1));
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Tahoma;
}

.add-element-form form div{
    padding: 10px;
}

.add-element-form form div p{
    margin: 0;
}
